/*.navbar-nav li:hover .dropdown-menu {
    display: block;
}*/
/*
#menu {
	.navbar {
		box-shadow: 10px 10px 10px #eee;
		background-color: #fff;
	}
}*/

/*.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}*/

/*.dropdown:hover {
    background-color: #fff;
}*/

/*.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}*/


/*.navbar-new-top{
    background: #fff;
}
.navbar-brand{
    font-weight: 600;
}
.navbar-brand img{
    width: 20%;
}
.navbar-new-top ul{
    margin-right: 9%;
}
.navbar-new-top ul li{
    margin-right: 8%;
}
.navbar-new-bottom{
    background-color: #f7f7f7;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #e0e0e0;
    margin-top: 4%;
    height: 40px;
}
.navbar-new-bottom ul li{
    margin-left: 2%;
    margin-right: 2%;
}*/

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: .5rem 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
            border-radius: .25rem;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0 0 0 .125rem;
    color: #212529;
    text-align: left;
    list-style: none;
    /*color: #333;*/
}

.navbar {
    .btnSearch {
        background-color:#000;
        padding: 1px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
    }
}

.tsk-shadow-sm {
    -webkit-box-shadow: 0 4px 8px -3px #555454;;
            box-shadow: 0 4px 8px -3px #555454;;
}
