.breadcrumb-wrapper {
  margin-top: -30px;
  background-color: hsla(34,85%,45%,1);
}

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 100%;
  z-index: 3;

}
/*  -webkit-transition:all 3s ease;
  transition: all 3s ease;*/
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;

}
/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
  background-color: hsla(34,85%,45%,1);
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
  pointer-events: none;
  cursor: default;
}

.btn-breadcrumb {
  a:hover {
    background-color: hsla(34, 85%, 25%, 1);
  }
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  /*border-left: 10px solid #fff;*/
  border-left-color: hsla(34,85%,45%,1);
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  /*border-left: 10px solid #ebebeb;*/
  border-left-color: hsla(34, 85%, 25%, 1) !important;
}
/*
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}*/


