// Scroll To Top
.top, .top:link {
	color: $color__white;
	background: $color__dark_gray;
	opacity: .7;
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	@include font-size(1.125);
	line-height: 2.667rem;
	text-align: center;
	border-radius: 5px;
}

.top:hover {
	text-decoration: none;
	transition: all 0.3s ease;
	opacity: 1;
}
