#footer {
	padding: 1rem 0;
    margin-top: 1rem;
	background: #333333 !important;
	color: $color__white;

	h3 {
    	font-size: 1rem;
    	text-transform: uppercase;
    	font-weight: 700;
    	margin-bottom: 1.5rem;
    }

    .tagcloud,
	.textwidget,
	.calendar_wrap {
		padding: 0;
	}

	ul {
		padding-left: 0;
		list-style: none;
	}

	li {
	    display: list-item;
	    text-align: -webkit-match-parent;
	    padding: 3px 0;
	    -webkit-transition: .5s all ease;
	    -moz-transition: .5s all ease;
	    	 transition: .5s all ease;
	    &:hover{
			padding: 3px 0;
			margin-left:5px;
			font-weight:700;
		}
		margin-right: 5px;
	}

    a {
	    color: #ffffff;
	    text-decoration: none !important;
	    background-color: transparent;
	    &:hover {
			color: #c6c6c6; /*#eeeeee;*/
	    }
	    margin-right: 5px;
	    /*font-weight: 700;*/
	}

}


/*@media (max-width:767px) {
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
	}
}*/

#footer-info {
	background: #2F2F2F !important;
	ul li {
    	color: #c6c6c6;
    }
    a {
    	color: #c6c6c6;
    	&:visited {
    		color: #c6c6c6;
    	}
    }
}
