.site-info {
	text-align: center;
}

.site-title {
		margin:10px 0 0 -2px;
		padding: 0;
		line-height: 1em;
		font-size: 1.875rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: inherit;
		a {
			margin: 0;
			&:visited {
				color: inherit;
			}
			&:hover {
				text-decoration: none;
			}
		}
}

// a {color:#FF0000;}      /* unvisited link */
// a:visited {color:#00FF00;}  /* visited link */
// a:hover {color:#FF00FF;}  /* mouse over link */
// a:active {color:#0000FF;}  /* selected link */

.site-description {
	margin: 10px 0 0;
	@include text-spacing;
	/*font-size: 1rem;
	letter-spacing: 1px;*/
}

.tsk-emailaddress {
	@include text-spacing;
	margin: 10px 0 0;
	text-transform: uppercase;
	line-height: 1em;
	font-size: 0.75rem;
	font-weight: 700;
}

.tsk-label {
	display: inline-block;
	width: 25%;
	margin-right: 30px;
}

#masthead {
	// min-height: 80px;
	margin-bottom: 30px;
}
/*for fixed-top nav*/
.fixed-top {
	@include admin-sticky-fix;
}

#footer {
	padding: 1rem 0;
    margin-top: 1rem;
	background: #333333 !important;
	color: $color__white;

	h3 {
    	font-size: 1rem;
    	text-transform: uppercase;
    	font-weight: 700;
    	margin-bottom: 1.5rem;
    }

    .tagcloud,
	.textwidget,
	.calendar_wrap {
		padding: 0;
	}

	ul {
		padding-left: 0;
		list-style: none;
	}

	li {
	    display: list-item;
	    text-align: -webkit-match-parent;
	    padding: 3px 0;
	    -webkit-transition: .5s all ease;
	    -moz-transition: .5s all ease;
	    	 transition: .5s all ease;
	    &:hover{
			padding: 3px 0;
			margin-left:5px;
			font-weight:700;
		}
		margin-right: 5px;
	}

    a {
	    color: #ffffff;
	    text-decoration: none !important;
	    background-color: transparent;
	    &:hover {
			color:#eeeeee;
	    }
	    margin-right: 5px;
	    /*font-weight: 700;*/
	}

}


/*@media (max-width:767px) {
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
	}
}*/

#footer-info {
	background: #2F2F2F !important;
	ul li {
    	color: #c6c6c6;
    }
    a {
    	color: #c6c6c6;
    	&:visited {
    		color: #c6c6c6;
    	}
    }
}

// Scroll To Top
.top, .top:link {
	color: $color__white;
	background: $color__dark_gray;
	opacity: .7;
	position: fixed;
	z-index: 999;
	bottom: 180px;
	right: 20px;
	width: 40px;
	height: 40px;
	@include font-size(1.125);
	line-height: 2.667rem;
	text-align: center;
	border-radius: 5px;
}

.top:hover {
	text-decoration: none;
	transition: all 0.3s ease;
	opacity: 1;
}

a {
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
